---
import Article from "./article.astro";
import ArticleTitle from "./article-title.astro";

import type { CollectionEntry } from "astro:content";

export type Props = { entry: CollectionEntry<"education"> };

const { entry } = Astro.props;
const { institution, program, status, period, location, web, print } =
	entry.data;
const { Content } = await entry.render();
---

<Article web={web} print={print}>
	<ArticleTitle title={program} subtitle={institution} slot="title" />
	<span slot="meta">{status}, {period}, {location}</span>
	<Content />
</Article>
