---
import Article from "./article.astro";
import ArticleTitle from "./article-title.astro";

import type { CollectionEntry } from "astro:content";

export type Props = { entry: CollectionEntry<"experience"> };

const { entry } = Astro.props;
const { position, employer, period, location, web, print } = entry.data;
const { Content } = await entry.render();
---

<Article web={web} print={print}>
	<ArticleTitle title={position} subtitle={employer} slot="title" />
	<span slot="meta">{period}, {location}</span>
	<Content />
</Article>
