---
import aboutContent from '../content/about';
import Panels from '../layouts/panels.astro';

const { links, name, profession } = aboutContent;
---
<header>
	<Panels>
		<h1 slot="left">{name}</h1>
		<h2 slot="right">{profession}</h2>
		<ul slot="right">
			{links.map(({ url, label, print, web }) => {
				const printUrl = url.replace(/(^\w+:|^)\/\//, '');
				const className = [print && 'print', web && 'web']
					.filter(Boolean)
					.join(' ');

				return (
					<li class={className}>
						<a href={url} data-print-url={printUrl}>{label}</a>
					</li>
				);
			})}
		</ul>
	</Panels>
</header>

<style>
	header {
		margin-bottom: var(--spacing-2);
	}

	h1, h2 {
		margin: 0 0 0.6em;
		padding: 0;
	}

	h1 {
		color: var(--color-text-600);
		font-weight: 600;
		font-size: 1.4em;
	}

	h2 {
		color: var(--color-text-300);
		font-weight: 400;
		font-size: 1.2em;
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	ul li {
		margin-right: 1.2em;
	}

	ul a {
		color: currentColor;
	}

	@media screen and (min-width: 36rem) {
		header {
			margin-bottom: var(--spacing-3);
		}
	}

	@media screen {
		ul li:not(.web) {
			display: none;
		}
	}

	@media print {
		ul {
			flex-direction: column;
		}

		ul li {
			margin-right: 0;
		}

		ul li:not(.print) {
			display: none;
		}

		ul a {
			text-decoration: none;
		}

		ul a::after {
			content: " - "attr(data-print-url);
		}
	}
</style>
